html, body {
    height: 95%;
    width: 95%;
    background-color: wheat;
}

#background {
    width: 80%;
    height: 80%;
    background-color: powderblue;
    border-radius: 3%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#gameBoard {
    width: 100%;
    height: 100%;
}

#gameBoard > div{
    display: inline-block;
    width: 100%;
    height: 33%;
}

.players {
    float: left;
    width: 50%;
    text-align: center;
}

.scores {
    float: left;
    width: 50%;
    text-align: center;
}

#sign {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.signs > div {
    display: table-cell;
    text-align: center;
    width: 33%;
    height: 100%;
    float: left;
}

#vsLbl {
    margin-top: 25%;
}
